.common_button_1{
    padding:12px;
    border: 2px solid #E1B168;
    color: #E1B168;
    background-color: #292E36;
    font-size:20px;
    cursor:pointer;
}

.common_button_2{
    padding:12px;
    /* border: 2px solid #292E36; */
    background-color: #E1B168;
    color: #292E36;
    font-size:20px;
    cursor:pointer;
    border:none;
}